<%- include ("../partials/header")%>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/addAccount">addAccount</a>
      </li>

    </ul>
  <form method="post" action="login"><a href="login.ejs"><button
        class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Logout</button></a> </form>
  </div>
  </nav>
  </header>