<%- include ("../partials/header")%>

<form action="/account/updateAccount" method="post">
    <textarea name ="id" hidden><%= account._id%></textarea>
    <label for="accountname">Enter Account Name:</label>
    <input type="text" name="name" value="<%= account.name%>" required>
    <input type="submit" value="submit" name="submit">
</form>

<%- include ("../partials/footer")%>